@keyframes fadeOutFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeOutFromNoneGallery {
    animation: fadeOutFromNone 0.5s ease-in-out;
}

.fadeOutFromNone {
    animation: fadeOutFromNone 1s ease-in-out;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.none {
    display: none !important;
}

.body {
    position: relative;
}
.container {
    margin: 0 auto;
    max-width: 1380px;
    height: 100%;

    @media (max-width: 1400px) {
        padding: 0 20px;
    }
}

button,
a {
    cursor: pointer;
    outline: none;
    background-color: unset;
    border: none;
}

.title-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: normal;

    @media (max-width: 1180px) {
        font-size: 48px;
    }

    @media (max-width: 860px) {
        font-size: 40px;
    }

    @media (max-width: 640px) {
        font-size: 32px;
    }

    @media (max-width: 500px) {
        font-size: 24px;
    }
}

.title-h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    text-transform: uppercase;
    line-height: normal;
    color: #000000;

    &_colored-medium {
        font-weight: 500;
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    @media (max-width: 1180px) {
        font-size: 42px;
    }

    @media (max-width: 860px) {
        font-size: 32px;
    }

    @media (max-width: 640px) {
        font-size: 28px;
    }

    @media (max-width: 500px) {
        font-size: 20px;
    }
}
