@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**


 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.none {
  display: none !important;
}

.body {
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
  height: 100%;
}
@media (max-width: 1400px) {
  .container {
    padding: 0 20px;
  }
}

button,
a {
  cursor: pointer;
  outline: none;
  background-color: unset;
  border: none;
}

.title-h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: normal;
}
@media (max-width: 1180px) {
  .title-h1 {
    font-size: 48px;
  }
}
@media (max-width: 860px) {
  .title-h1 {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  .title-h1 {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .title-h1 {
    font-size: 24px;
  }
}

.title-h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  text-transform: uppercase;
  line-height: normal;
  color: #000000;
}
.title-h2_colored-medium {
  font-weight: 500;
  background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 1180px) {
  .title-h2 {
    font-size: 42px;
  }
}
@media (max-width: 860px) {
  .title-h2 {
    font-size: 32px;
  }
}
@media (max-width: 640px) {
  .title-h2 {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .title-h2 {
    font-size: 20px;
  }
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, #ffffff 50%, rgba(255, 255, 255, 0.9) 100%);
  -webkit-backdrop-filter: blur(5.85px);
          backdrop-filter: blur(5.85px);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
@media (max-width: 1400px) {
  .header__wrapper {
    padding: 10px 20px;
  }
}
@media (max-width: 680px) {
  .header__logo {
    max-width: 130px;
  }
}
@media (max-width: 360px) {
  .header__logo {
    max-width: 97px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 1260px) {
  .header__nav {
    display: none;
  }
}
.header__nav-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1260px) {
  .header__contacts {
    display: none;
  }
}
.header__phone-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__phone-icon {
  width: 24px;
  height: 24;
  min-width: 24px;
  min-height: 24px;
}
.header__phone-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.header__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding: 12px 24px;
  outline: unset;
  background-color: unset;
  border-radius: 59px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__burger-button {
  display: none;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  border: unset;
  outline: unset;
  background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
  box-shadow: 73px 127px 59px rgba(0, 0, 0, 0.01), 41px 71px 49px rgba(0, 0, 0, 0.05), 18px 32px 37px rgba(0, 0, 0, 0.09), 5px 8px 20px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1260px) {
  .header__burger-button {
    display: flex;
  }
}
.header__burger-button-line {
  width: 17px;
  height: 2px;
  min-width: 17px;
  min-height: 2px;
  background-color: white;
}

.first-banner {
  max-width: 1840px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
  border-radius: 0px 0px 48px 48px;
  overflow: hidden;
  margin-bottom: 170px;
}
@media (max-width: 640px) {
  .first-banner {
    margin-bottom: 100px;
  }
}
.first-banner__wrapper {
  padding-top: 144px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
@media (max-width: 640px) {
  .first-banner__wrapper {
    padding-top: 80px;
  }
}
@media (max-width: 500px) {
  .first-banner__wrapper {
    padding-top: 136px;
    gap: 15px;
  }
}
.first-banner__content {
  min-width: 180px;
}
.first-banner__title {
  margin-bottom: 32px;
}
@media (max-width: 640px) {
  .first-banner__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .first-banner__title {
    margin-bottom: 7px;
  }
}
.first-banner__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 32px;
}
@media (max-width: 1180px) {
  .first-banner__subtitle {
    font-size: 25px;
  }
}
@media (max-width: 860px) {
  .first-banner__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  .first-banner__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .first-banner__subtitle {
    font-size: 14px;
    margin-bottom: 13px;
  }
}
.first-banner__button {
  padding: 22px 75px;
  background: #ffffff;
  box-shadow: 49px 100px 45px rgba(0, 0, 0, 0.01), 27px 56px 38px rgba(0, 0, 0, 0.05), 12px 25px 28px rgba(0, 0, 0, 0.09), 3px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 42px;
  border: unset;
  outline: unset;
}
@media (max-width: 1180px) {
  .first-banner__button {
    padding: 12px 24px;
  }
}
@media (max-width: 500px) {
  .first-banner__button {
    padding: 13px 27px;
  }
}
.first-banner__button-text {
  background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1180px) {
  .first-banner__button-text {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .first-banner__button-text {
    font-size: 12px;
  }
}
.first-banner__image-wrapper {
  position: relative;
  z-index: 1;
  margin-right: -35px;
}
.first-banner__bg-image {
  position: absolute;
  right: -1px;
  top: 0;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1280px) {
  .first-banner__bg-image {
    width: 50%;
    right: -60px;
  }
}
@media (max-width: 860px) {
  .first-banner__bg-image {
    width: 50%;
    right: -30px;
  }
}
@media (max-width: 640px) {
  .first-banner__bg-image {
    width: 60%;
    right: -30px;
  }
}
@media (max-width: 500px) {
  .first-banner__bg-image {
    display: none;
  }
}
.first-banner__mobile-bg-image {
  display: none;
  position: absolute;
  right: -30px;
  bottom: -10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 500px) {
  .first-banner__mobile-bg-image {
    display: unset;
  }
}
@media (max-width: 390px) {
  .first-banner__mobile-bg-image {
    height: auto;
    right: -10px;
    bottom: 12px;
  }
}

.why-travel-center {
  margin-bottom: 170px;
}
@media (max-width: 640px) {
  .why-travel-center {
    margin-bottom: 100px;
  }
}
.why-travel-center__title-wrapper {
  margin-bottom: 32px;
}
@media (max-width: 500px) {
  .why-travel-center__title-wrapper {
    margin-bottom: 12px;
  }
}
.why-travel-center__title {
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 500px) {
  .why-travel-center__title {
    margin-bottom: 12px;
  }
}
.why-travel-center__title-line {
  width: 228px;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}
@media (max-width: 860px) {
  .why-travel-center__title-line {
    width: 160px;
  }
}
@media (max-width: 500px) {
  .why-travel-center__title-line {
    width: 80px;
  }
}
.why-travel-center__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 32px;
}
@media (max-width: 1180px) {
  .why-travel-center__text {
    font-size: 28px;
  }
}
@media (max-width: 860px) {
  .why-travel-center__text {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .why-travel-center__text {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .why-travel-center__text {
    font-size: 16px;
  }
}
.why-travel-center__mission {
  padding: 30px;
  background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
  border-radius: 40px;
}
.why-travel-center__mission-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.why-travel-center__mission-text_bold {
  font-weight: 600;
}
@media (max-width: 1180px) {
  .why-travel-center__mission-text {
    font-size: 28px;
  }
}
@media (max-width: 860px) {
  .why-travel-center__mission-text {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .why-travel-center__mission-text {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .why-travel-center__mission-text {
    font-size: 16px;
  }
}

.company {
  margin-bottom: 170px;
}
@media (max-width: 640px) {
  .company {
    margin-bottom: 100px;
  }
}
.company__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}
@media (max-width: 1400px) {
  .company__wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .company__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.company__title {
  margin-bottom: 8px;
}
.company__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}
.company__text_bold {
  font-weight: 600;
}
@media (max-width: 500px) {
  .company__text {
    font-size: 16px;
  }
}
.company__block {
  margin-bottom: 28px;
}
@media (max-width: 500px) {
  .company__block {
    margin-bottom: 23px;
  }
}
.company__principles-title {
  margin-bottom: 32px;
}
@media (max-width: 500px) {
  .company__principles-title {
    margin-bottom: 12px;
  }
}
.company__principles-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 500px) {
  .company__principles-items {
    gap: 12px;
  }
}
.company__principles-item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.company__principles-item-icon {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}
@media (max-width: 1400px) {
  .company__image-wrapper {
    display: flex;
    justify-content: center;
  }
}

.services {
  margin-bottom: 128px;
}
@media (max-width: 640px) {
  .services {
    margin-bottom: 100px;
  }
}
.services__title-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media (max-width: 960px) {
  .services__title-wrapper {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
}
@media (max-width: 640px) {
  .services__title-wrapper {
    margin-bottom: 20px;
  }
}
.services__title {
  min-width: -moz-max-content;
  min-width: max-content;
}
.services__title-description {
  max-width: 836px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}
@media (max-width: 640px) {
  .services__title-description {
    font-size: 16px;
  }
}
.services__cards {
  display: grid;
  gap: 32px;
  min-height: 1098px;
  grid-template-columns: 0.38fr 0.31fr 0.31fr;
  grid-template-rows: 0.42fr 0.36fr 0.22fr;
  grid-auto-flow: dense;
}
@media (max-width: 960px) {
  .services__cards {
    display: flex;
    flex-direction: column;
  }
}
.services__card {
  width: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 20px;
  position: relative;
}
.services__card::after {
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(249, 136, 17, 0) 30%, #f98811 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: inherit;
  opacity: 0;
  transition: opacity ease 0.3s;
  /*  pointer-events: none; */
}
.services__card:hover::after {
  opacity: 1;
}
.services__card_visa-type {
  grid-column: 1/span 1;
  grid-row: 1/span 2;
  background-image: url("./../images/services-visa-type.jpg");
}
@media (max-width: 960px) {
  .services__card_visa-type {
    background-image: url("./../images/services-visa-type-mobile.jpg");
  }
}
.services__card_documents {
  grid-column: 2/span 2;
  grid-row: 1/span 1;
  background-image: url("./../images/services-documents.jpg");
}
@media (max-width: 960px) {
  .services__card_documents {
    background-image: url("./../images/services-documents-mobile.jpg");
  }
}
.services__card_questionary {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  background-image: url("./../images/services-questionary.jpg");
}
@media (max-width: 960px) {
  .services__card_questionary {
    background-image: url("./../images/services-questionary-mobile.jpg");
  }
}
.services__card_visa-status {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  background-image: url("./../images/services-visa-status.jpg");
}
@media (max-width: 960px) {
  .services__card_visa-status {
    background-image: url("./../images/services-visa-status-mobile.jpg");
  }
}
.services__card_interview {
  grid-column: 1/span 3;
  grid-row: 3/span 1;
  background-image: url("./../images/services-interview.jpg");
}
@media (max-width: 960px) {
  .services__card_interview {
    background-image: url("./../images/services-interview-mobile.jpg");
  }
}
@media (max-width: 1280px) {
  .services__card {
    padding: 16px;
    border-radius: 24px;
  }
}
@media (max-width: 960px) {
  .services__card {
    grid-column: unset;
    grid-row: unset;
    aspect-ratio: 1/1;
    padding: 20px 20px;
  }
}
@media (max-width: 640px) {
  .services__card {
    padding: 16px;
    border-radius: 48px;
  }
}
.services__card-content {
  position: relative;
  z-index: 2;
}
.services__card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}
@media (max-width: 1280px) {
  .services__card-title {
    font-size: 20px;
  }
}
@media (max-width: 1080px) {
  .services__card-title {
    font-size: 18px;
  }
}
@media (max-width: 960px) {
  .services__card-title {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .services__card-title {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .services__card-title {
    font-size: 16px;
    margin-bottom: 6px;
  }
}
.services__card-list-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  position: relative;
  padding-left: 15px;
}
.services__card-list-item::before {
  content: "•";
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
}
@media (max-width: 1280px) {
  .services__card-list-item {
    font-size: 18px;
  }
}
@media (max-width: 1080px) {
  .services__card-list-item {
    font-size: 16px;
  }
}
@media (max-width: 960px) {
  .services__card-list-item {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  .services__card-list-item {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .services__card-list-item {
    font-size: 14px;
  }
}
.services__card_interview .services__card-content {
  max-width: 612px;
}

.cta {
  margin-bottom: 170px;
}
@media (max-width: 640px) {
  .cta {
    margin-bottom: 100px;
  }
}
.cta__wrapper {
  border-radius: 60px;
  background-image: url("./../images/cta-background.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  gap: 90px;
  padding: 156px 156px 56px 156px;
  align-items: flex-end;
}
@media (max-width: 1280px) {
  .cta__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 156px 56px 56px 56px;
  }
}
@media (max-width: 500px) {
  .cta__wrapper {
    padding: 9px;
    align-items: center;
    border-radius: 8px;
  }
}
.cta__text-content-mobile {
  display: none;
}
@media (max-width: 500px) {
  .cta__text-content-mobile {
    display: block;
  }
}
@media (max-width: 500px) {
  .cta__text-content {
    display: none;
  }
}
.cta__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (max-width: 1180px) {
  .cta__title {
    font-size: 28px;
  }
}
@media (max-width: 860px) {
  .cta__title {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .cta__title {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .cta__title {
    font-size: 16px;
    color: black;
    margin-bottom: 12px;
  }
}
.cta__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1280px) {
  .cta__text {
    font-size: 18px;
  }
}
@media (max-width: 1080px) {
  .cta__text {
    font-size: 16px;
  }
}
@media (max-width: 960px) {
  .cta__text {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  .cta__text {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .cta__text {
    font-size: 14px;
    color: black;
    margin-bottom: 12px;
  }
}
.cta__button {
  padding: 22px 44px;
  max-width: 296px;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 500px) {
  .cta__button {
    font-size: 16px;
  }
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}
@media (max-width: 1180px) {
  .advantages__wrapper {
    grid-template-columns: 1fr;
    gap: 22px;
  }
}
.advantages__image-wrapper {
  border-radius: 48px;
  overflow: hidden;
}
@media (max-width: 1180px) {
  .advantages__image-wrapper_man {
    grid-row: 3/span 1;
  }
}
@media (max-width: 1180px) {
  .advantages__image-wrapper_woman {
    display: none;
  }
}
.advantages__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__title {
  margin-bottom: 48px;
}
@media (max-width: 640px) {
  .advantages__title {
    margin-bottom: 20px;
  }
}
.advantages__content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.advantages__item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.advantages__item-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 8px;
  max-width: 530px;
}
@media (max-width: 1180px) {
  .advantages__item-title {
    font-size: 28px;
    max-width: unset;
  }
}
@media (max-width: 860px) {
  .advantages__item-title {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .advantages__item-title {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .advantages__item-title {
    font-size: 16px;
  }
}
.advantages__item-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}
.advantages__item-text_bold {
  font-weight: 600;
}
@media (max-width: 1180px) {
  .advantages__item-text_mobile-hide {
    display: none;
  }
}
@media (max-width: 640px) {
  .advantages__item-text {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .advantages__item-text {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */