@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**


 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.body {
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
  height: 100%;
}

button, a {
  cursor: pointer;
}

.title-h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  text-transform: uppercase;
  color: #000000;
}
.title-h2_colored-medium {
  font-weight: 500;
  font-size: 54px;
  background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, #ffffff 50%, rgba(255, 255, 255, 0.9) 100%);
  -webkit-backdrop-filter: blur(5.85px);
          backdrop-filter: blur(5.85px);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__nav-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__phone-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__phone-icon {
  width: 24px;
  height: 24;
  min-width: 24px;
  min-height: 24px;
}
.header__phone-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.header__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding: 12px 24px;
  outline: unset;
  background-color: unset;
  border-radius: 59px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.first-banner {
  max-width: 1840px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
  border-radius: 0px 0px 48px 48px;
  overflow: hidden;
}
.first-banner__wrapper {
  padding-top: 144px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.first-banner__title {
  margin-bottom: 32px;
}
.first-banner__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 32px;
}
.first-banner__button {
  padding: 22px 75px;
  background: #ffffff;
  box-shadow: 49px 100px 45px rgba(0, 0, 0, 0.01), 27px 56px 38px rgba(0, 0, 0, 0.05), 12px 25px 28px rgba(0, 0, 0, 0.09), 3px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 42px;
  border: unset;
  outline: unset;
}
.first-banner__button-text {
  background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.first-banner__image-wrapper {
  position: relative;
  z-index: 1;
  margin-right: -35px;
}
.first-banner__bg-image {
  position: absolute;
  right: -1px;
  top: 0;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */