@import 'normalize', 'fonts', 'global';

.header {
    position: fixed;
    z-index: 50;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.9) 0%,
        #ffffff 50%,
        rgba(255, 255, 255, 0.9) 100%
    );
    backdrop-filter: blur(5.85px);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        @media (max-width: 1400px) {
            padding: 10px 20px;
        }
    }

    &__logo-wrapper {
    }

    &__logo {
        @media (max-width: 680px) {
            max-width: 130px;
        }

        @media (max-width: 360px) {
            max-width: 97px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 32px;

        @media (max-width: 1260px) {
            display: none;
        }
    }

    &__nav-item {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 24px;

        @media (max-width: 1260px) {
            display: none;
        }
    }

    &__phone-wrapper {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__phone-icon {
        width: 24px;
        height: 24;
        min-width: 24px;
        min-height: 24px;
    }

    &__phone-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }

    &__button {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        padding: 12px 24px;
        outline: unset;
        background-color: unset;
        border-radius: 59px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__burger-button {
        display: none;
        border-radius: 100%;
        width: 36px;
        height: 36px;
        min-width: 36px;
        min-height: 36px;
        flex-direction: column;
        gap: 2px;
        align-items: center;
        justify-content: center;
        border: unset;
        outline: unset;
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        box-shadow: 73px 127px 59px rgba(0, 0, 0, 0.01),
            41px 71px 49px rgba(0, 0, 0, 0.05),
            18px 32px 37px rgba(0, 0, 0, 0.09), 5px 8px 20px rgba(0, 0, 0, 0.1);

        @media (max-width: 1260px) {
            display: flex;
        }
    }

    &__burger-button-line {
        width: 17px;
        height: 2px;
        min-width: 17px;
        min-height: 2px;
        background-color: white;
    }
}

.first-banner {
    max-width: 1840px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
    border-radius: 0px 0px 48px 48px;
    overflow: hidden;
    margin-bottom: 170px;

    @media (max-width: 640px) {
        margin-bottom: 100px;
    }

    &__wrapper {
        padding-top: 144px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;

        @media (max-width: 640px) {
            padding-top: 80px;
        }

        @media (max-width: 500px) {
            padding-top: 136px;
            gap: 15px;
        }
    }

    &__content {
        min-width: 180px;
    }

    &__title {
        margin-bottom: 32px;

        @media (max-width: 640px) {
            margin-bottom: 20px;
        }

        @media (max-width: 500px) {
            margin-bottom: 7px;
        }
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 32px;

        @media (max-width: 1180px) {
            font-size: 25px;
        }

        @media (max-width: 860px) {
            font-size: 20px;
        }

        @media (max-width: 640px) {
            font-size: 16px;
            margin-bottom: 20px;
        }

        @media (max-width: 500px) {
            font-size: 14px;
            margin-bottom: 13px;
        }
    }

    &__button {
        padding: 22px 75px;

        background: #ffffff;
        box-shadow: 49px 100px 45px rgba(0, 0, 0, 0.01),
            27px 56px 38px rgba(0, 0, 0, 0.05),
            12px 25px 28px rgba(0, 0, 0, 0.09), 3px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 42px;
        border: unset;
        outline: unset;

        @media (max-width: 1180px) {
            padding: 12px 24px;
        }

        @media (max-width: 500px) {
            padding: 13px 27px;
        }
    }

    &__button-text {
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: 1180px) {
            font-size: 16px;
        }

        @media (max-width: 500px) {
            font-size: 12px;
        }
    }

    &__image-wrapper {
        position: relative;
        z-index: 1;
        margin-right: -35px;
    }

    &__bg-image {
        position: absolute;
        right: -1px;
        top: 0;
        height: auto;
        object-fit: cover;

        @media (max-width: 1280px) {
            width: 50%;
            right: -60px;
        }

        @media (max-width: 860px) {
            width: 50%;
            right: -30px;
        }

        @media (max-width: 640px) {
            width: 60%;
            right: -30px;
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    &__mobile-bg-image {
        display: none;
        position: absolute;
        right: -30px;
        bottom: -10px;
        height: 100%;
        object-fit: cover;

        @media (max-width: 500px) {
            display: unset;
        }

        @media (max-width: 390px) {
            height: auto;
            right: -10px;
            bottom: 12px;
        }
    }
}

.why-travel-center {
    margin-bottom: 170px;

    @media (max-width: 640px) {
        margin-bottom: 100px;
    }
    &__title-wrapper {
        margin-bottom: 32px;

        @media (max-width: 500px) {
            margin-bottom: 12px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 32px;

        @media (max-width: 500px) {
            margin-bottom: 12px;
        }
    }

    &__title-line {
        width: 228px;
        height: 1px;
        background-color: black;
        margin: 0 auto;

        @media (max-width: 860px) {
            width: 160px;
        }

        @media (max-width: 500px) {
            width: 80px;
        }
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 32px;

        @media (max-width: 1180px) {
            font-size: 28px;
        }

        @media (max-width: 860px) {
            font-size: 24px;
        }

        @media (max-width: 640px) {
            font-size: 20px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }

    &__mission {
        padding: 30px;
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        border-radius: 40px;
    }

    &__mission-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        &_bold {
            font-weight: 600;
        }

        @media (max-width: 1180px) {
            font-size: 28px;
        }

        @media (max-width: 860px) {
            font-size: 24px;
        }

        @media (max-width: 640px) {
            font-size: 20px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }
}
