@import 'normalize', 'fonts', 'global';

.header {
    position: fixed;
    z-index: 50;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.9) 0%,
        #ffffff 50%,
        rgba(255, 255, 255, 0.9) 100%
    );
    backdrop-filter: blur(5.85px);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        @media (max-width: 1400px) {
            padding: 10px 20px;
        }
    }

    &__logo-wrapper {
    }

    &__logo {
        @media (max-width: 680px) {
            max-width: 130px;
        }

        @media (max-width: 360px) {
            max-width: 97px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 32px;

        @media (max-width: 1260px) {
            display: none;
        }
    }

    &__nav-item {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 24px;

        @media (max-width: 1260px) {
            display: none;
        }
    }

    &__phone-wrapper {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__phone-icon {
        width: 24px;
        height: 24;
        min-width: 24px;
        min-height: 24px;
    }

    &__phone-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }

    &__button {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        padding: 12px 24px;
        outline: unset;
        background-color: unset;
        border-radius: 59px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__burger-button {
        display: none;
        border-radius: 100%;
        width: 36px;
        height: 36px;
        min-width: 36px;
        min-height: 36px;
        flex-direction: column;
        gap: 2px;
        align-items: center;
        justify-content: center;
        border: unset;
        outline: unset;
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        box-shadow: 73px 127px 59px rgba(0, 0, 0, 0.01),
            41px 71px 49px rgba(0, 0, 0, 0.05),
            18px 32px 37px rgba(0, 0, 0, 0.09), 5px 8px 20px rgba(0, 0, 0, 0.1);

        @media (max-width: 1260px) {
            display: flex;
        }
    }

    &__burger-button-line {
        width: 17px;
        height: 2px;
        min-width: 17px;
        min-height: 2px;
        background-color: white;
    }
}

.mobile-header {
    position: fixed;
    top: 0;
    right: -1px;
    width: 0px;
    min-height: 100vh;
    transition: width 0.7s ease;
    z-index: 110;
    overflow: auto;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &__cta-button {
        padding: 12px 24px;
        width: 100%;
        max-width: max-content;
        min-width: max-content;
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 42px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 60px;
    }

    address {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: normal;
        color: black;

        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 340px;
    }

    &__wrapper {
        padding: 20px 20px;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    &_show {
        width: 320px;
        height: unset;
        visibility: visible;

        @media (max-width: 480px) {
            width: calc(100vw + 1px);
        }
    }
    &__burger {
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 6px;

        @media (max-width: 1170px) {
            display: flex;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            color: #404040;
        }

        @media (max-width: 480px) {
            font-size: 10px;
        }
    }

    &__burger-icon {
        width: 22px;
        height: 22px;

        @media (max-width: 480px) {
            width: 16px;
            height: 16px;
        }
    }

    &__top-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        gap: 30px;
    }

    &__phone {
        font-weight: 400;
        font-size: 12px;
        color: black;
        display: flex;
        align-items: center;
        gap: 5px;
        min-width: max-content;
    }

    &__phone-icon {
        width: 16px;
        height: 16px;
    }

    &__burger-close {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3px;
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        color: black;
    }

    &__burger-close-icon {
        width: 16px;
        height: 16px;
        path {
            stroke: black;
        }
    }

    &__devider {
        height: 1px;
        width: 100%;
        background: black;
        margin-bottom: 30px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }

    &__logo-wrapper {
        margin-bottom: 30px;
        display: inline-block;
        max-width: 180px;
        min-width: 180px;
    }

    &__nav-items {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 30px;
    }

    &__menu-item {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: black;
        min-width: max-content;
        text-transform: uppercase;
    }
}

.first-banner {
    max-width: 1840px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
    border-radius: 0px 0px 48px 48px;
    overflow: hidden;

    &__wrapper {
        padding-top: 144px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;

        @media (max-width: 640px) {
            padding-top: 80px;
        }

        @media (max-width: 500px) {
            padding-top: 136px;
            gap: 15px;
        }
    }

    &__content {
        min-width: 180px;
    }

    &__title {
        margin-bottom: 32px;

        @media (max-width: 640px) {
            margin-bottom: 20px;
        }

        @media (max-width: 500px) {
            margin-bottom: 7px;
        }
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 32px;

        @media (max-width: 1180px) {
            font-size: 25px;
        }

        @media (max-width: 860px) {
            font-size: 20px;
        }

        @media (max-width: 640px) {
            font-size: 16px;
            margin-bottom: 20px;
        }

        @media (max-width: 500px) {
            font-size: 14px;
            margin-bottom: 13px;
        }
    }

    &__button {
        padding: 22px 75px;

        background: #ffffff;
        box-shadow: 49px 100px 45px rgba(0, 0, 0, 0.01),
            27px 56px 38px rgba(0, 0, 0, 0.05),
            12px 25px 28px rgba(0, 0, 0, 0.09), 3px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 42px;
        border: unset;
        outline: unset;

        @media (max-width: 1180px) {
            padding: 12px 24px;
        }

        @media (max-width: 500px) {
            padding: 13px 27px;
        }
    }

    &__button-text {
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: 1180px) {
            font-size: 16px;
        }

        @media (max-width: 500px) {
            font-size: 12px;
        }
    }

    &__image-wrapper {
        position: relative;
        z-index: 1;
        margin-right: -35px;
    }

    &__bg-image {
        position: absolute;
        right: -1px;
        top: 0;
        height: auto;
        object-fit: cover;

        @media (max-width: 1280px) {
            width: 50%;
            right: -60px;
        }

        @media (max-width: 860px) {
            width: 50%;
            right: -30px;
        }

        @media (max-width: 640px) {
            width: 60%;
            right: -30px;
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    &__mobile-bg-image {
        display: none;
        position: absolute;
        right: -30px;
        bottom: -10px;
        height: 100%;
        object-fit: cover;

        @media (max-width: 500px) {
            display: unset;
        }

        @media (max-width: 390px) {
            height: auto;
            right: -10px;
            bottom: 12px;
        }
    }
}

.why-travel-center {
    padding-top: 170px;

    @media (max-width: 640px) {
        padding-top: 100px;
    }
    &__title-wrapper {
        margin-bottom: 32px;

        @media (max-width: 500px) {
            margin-bottom: 12px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 32px;

        @media (max-width: 500px) {
            margin-bottom: 12px;
        }
    }

    &__title-line {
        width: 228px;
        height: 1px;
        background-color: black;
        margin: 0 auto;

        @media (max-width: 860px) {
            width: 160px;
        }

        @media (max-width: 500px) {
            width: 80px;
        }
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 32px;

        @media (max-width: 1180px) {
            font-size: 28px;
        }

        @media (max-width: 860px) {
            font-size: 24px;
        }

        @media (max-width: 640px) {
            font-size: 20px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }

    &__mission {
        padding: 30px;
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        border-radius: 40px;
    }

    &__mission-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        &_bold {
            font-weight: 600;
        }

        @media (max-width: 1180px) {
            font-size: 28px;
        }

        @media (max-width: 860px) {
            font-size: 24px;
        }

        @media (max-width: 640px) {
            font-size: 20px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }
}

.company {
    padding-top: 170px;

    @media (max-width: 640px) {
        padding-top: 100px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;

        @media (max-width: 1400px) {
            display: flex;
            flex-direction: column;
        }

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__title {
        margin-bottom: 8px;
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;

        color: #000000;

        &_bold {
            font-weight: 600;
        }

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }

    &__block {
        margin-bottom: 28px;

        @media (max-width: 500px) {
            margin-bottom: 23px;
        }
    }

    &__principles-title {
        margin-bottom: 32px;

        @media (max-width: 500px) {
            margin-bottom: 12px;
        }
    }

    &__principles-items {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (max-width: 500px) {
            gap: 12px;
        }
    }

    &__principles-item {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__principles-item-icon {
        width: 48px;
        height: 48px;
        min-width: 48px;
        min-height: 48px;
    }

    &__image-wrapper {
        @media (max-width: 1400px) {
            display: flex;
            justify-content: center;
        }
    }
}

.services {
    padding-top: 170px;

    @media (max-width: 640px) {
        padding-top: 100px;
    }

    &__title-wrapper {
        display: flex;
        align-items: center;
        gap: 60px;
        justify-content: space-between;
        margin-bottom: 35px;

        @media (max-width: 960px) {
            flex-direction: column;
            gap: 12px;
            align-items: flex-start;
        }

        @media (max-width: 640px) {
            margin-bottom: 20px;
        }
    }

    &__title {
        min-width: max-content;
    }

    &__title-description {
        max-width: 836px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #000000;

        @media (max-width: 640px) {
            font-size: 16px;
        }
    }

    &__cards {
        display: grid;
        gap: 32px;
        min-height: 1098px;
        grid-template-columns: 0.38fr 0.31fr 0.31fr;
        grid-template-rows: 0.42fr 0.36fr 0.22fr;
        grid-auto-flow: dense;

        @media (max-width: 960px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__card {
        width: 100%;
        min-width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 48px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 20px;
        position: relative;

        &::after {
            z-index: 1;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg,
                rgba(249, 136, 17, 0) 30%,
                #f98811 100%
            );
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: inherit;
            opacity: 0;
            transition: opacity ease 0.3s;
            /*  pointer-events: none; */
        }

        &:hover::after {
            opacity: 1;
        }

        &_visa-type {
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;
            background-image: url('./../images/services-visa-type.jpg');

            @media (max-width: 960px) {
                background-image: url('./../images/services-visa-type-mobile.jpg');
            }
        }

        &_documents {
            grid-column: 2 / span 2;
            grid-row: 1 / span 1;
            background-image: url('./../images/services-documents.jpg');
            @media (max-width: 960px) {
                background-image: url('./../images/services-documents-mobile.jpg');
            }
        }

        &_questionary {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            background-image: url('./../images/services-questionary.jpg');
            @media (max-width: 960px) {
                background-image: url('./../images/services-questionary-mobile.jpg');
            }
        }

        &_visa-status {
            grid-column: 3 / span 1;
            grid-row: 2 / span 1;
            background-image: url('./../images/services-visa-status.jpg');
            @media (max-width: 960px) {
                background-image: url('./../images/services-visa-status-mobile.jpg');
            }
        }

        &_interview {
            grid-column: 1 / span 3;
            grid-row: 3 / span 1;
            background-image: url('./../images/services-interview.jpg');
            @media (max-width: 960px) {
                background-image: url('./../images/services-interview-mobile.jpg');
            }
        }

        @media (max-width: 1280px) {
            padding: 16px;
            border-radius: 24px;
        }

        @media (max-width: 960px) {
            grid-column: unset;
            grid-row: unset;
            aspect-ratio: 1/1;
            padding: 20px 20px;
        }

        @media (max-width: 640px) {
            padding: 16px;
            border-radius: 48px;
        }
    }

    &__card-content {
        position: relative;
        z-index: 2;
    }

    &__card-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 16px;

        @media (max-width: 1280px) {
            font-size: 20px;
        }

        @media (max-width: 1080px) {
            font-size: 18px;
        }

        @media (max-width: 960px) {
            font-size: 24px;
        }

        @media (max-width: 640px) {
            font-size: 20px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
            margin-bottom: 6px;
        }
    }

    &__card-list {
    }

    &__card-list-item {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #ffffff;
        position: relative;
        padding-left: 15px;

        &::before {
            content: '•';
            font-weight: bold;
            color: white;
            position: absolute;
            left: 0;
        }

        @media (max-width: 1280px) {
            font-size: 18px;
        }

        @media (max-width: 1080px) {
            font-size: 16px;
        }

        @media (max-width: 960px) {
            font-size: 20px;
        }

        @media (max-width: 640px) {
            font-size: 16px;
        }

        @media (max-width: 500px) {
            font-size: 14px;
        }
    }

    &__card_interview &__card-content {
        max-width: 612px;
    }
}

.cta {
    padding-top: 128px;

    @media (max-width: 640px) {
        padding-top: 100px;
    }

    &__wrapper {
        border-radius: 60px;
        background-image: url('./../images/cta-background.jpg');
        background-size: cover;
        background-position: center center;

        display: flex;
        gap: 90px;
        padding: 156px 156px 56px 156px;
        align-items: flex-end;

        @media (max-width: 1280px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            padding: 156px 56px 56px 56px;
        }

        @media (max-width: 500px) {
            padding: 9px;
            align-items: center;
            border-radius: 8px;
        }
    }

    &__text-content-mobile {
        display: none;
        @media (max-width: 500px) {
            display: block;
        }
    }

    &__text-content {
        @media (max-width: 500px) {
            display: none;
        }
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 40px;

        @media (max-width: 1180px) {
            font-size: 28px;
        }

        @media (max-width: 860px) {
            font-size: 24px;
        }

        @media (max-width: 640px) {
            font-size: 20px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
            color: black;
            margin-bottom: 12px;
        }
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        text-transform: uppercase;
        color: #ffffff;

        @media (max-width: 1280px) {
            font-size: 18px;
        }

        @media (max-width: 1080px) {
            font-size: 16px;
        }

        @media (max-width: 960px) {
            font-size: 20px;
        }

        @media (max-width: 640px) {
            font-size: 16px;
        }

        @media (max-width: 500px) {
            font-size: 14px;
            color: black;
            margin-bottom: 12px;
        }
    }

    &__button {
        padding: 22px 44px;
        max-width: 296px;
        height: max-content;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 8px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 110%;
        text-transform: uppercase;
        color: #ffffff;

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }
}

.advantages {
    padding-top: 170px;

    @media (max-width: 640px) {
        padding-top: 100px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;

        @media (max-width: 1180px) {
            grid-template-columns: 1fr;
            gap: 22px;
        }
    }

    &__image-wrapper {
        border-radius: 48px;
        overflow: hidden;
        &_man {
            @media (max-width: 1180px) {
                grid-row: 3 / span 1;
            }
        }

        &_woman {
            @media (max-width: 1180px) {
                display: none;
            }
        }
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__content-wrapper {
        &_wrap {
        }
    }

    &__title {
        margin-bottom: 48px;

        @media (max-width: 640px) {
            margin-bottom: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    &__item-icon {
    }

    &__item-content {
    }

    &__item-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 8px;
        max-width: 530px;

        @media (max-width: 1180px) {
            font-size: 28px;
            max-width: unset;
        }

        @media (max-width: 860px) {
            font-size: 24px;
        }

        @media (max-width: 640px) {
            font-size: 20px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }

    &__item-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #000000;

        &_bold {
            font-weight: 600;
        }

        &_mobile-hide {
            @media (max-width: 1180px) {
                display: none;
            }
        }

        @media (max-width: 640px) {
            font-size: 16px;
        }

        @media (max-width: 500px) {
            font-size: 14px;
        }
    }
}

.consultation {
    position: relative;
    padding-top: 170px;

    @media (max-width: 640px) {
        padding-top: 100px;
    }

    &__background-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @media (max-width: 1280px) {
            display: none;
        }
    }
    &__background-figure-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        pointer-events: none;

        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__background-figure {
    }

    &__form-wrapper {
        padding: 42px 150px 42px 55px;
        background: #ffffff;
        box-shadow: 49px 100px 45px rgba(0, 0, 0, 0.01),
            27px 56px 38px rgba(0, 0, 0, 0.05),
            12px 25px 28px rgba(0, 0, 0, 0.09), 3px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 60px;
        max-width: 726px;
        position: absolute;
        bottom: -42px;
        right: 10%;

        @media (max-width: 1500px) {
            right: 20px;
        }

        @media (max-width: 1280px) {
            bottom: unset;
            right: unset;
            position: relative;
            width: 100%;
            background: url('./../images/form-bg-image-mobile.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            max-width: unset;
            background-position: center top;
            box-shadow: unset;
        }

        @media (max-width: 680px) {
            padding: 42px 55px;
        }

        @media (max-width: 500px) {
            padding: 42px 19px;
        }
    }

    &__title {
        margin-bottom: 22px;
        @media (max-width: 1280px) {
            color: white;
        }
    }

    &__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 32px;
        @media (max-width: 1280px) {
            color: white;
        }

        @media (max-width: 640px) {
            font-size: 16px;
        }

        @media (max-width: 500px) {
            font-size: 14px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    &__input {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        border: 1px solid black;
        border-radius: 5px;
        padding: 8px;

        &::placeholder {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
            @media (max-width: 1280px) {
                background: transparent;
                color: white;
            }

            @media (max-width: 860px) {
                font-size: 16px;
            }

            @media (max-width: 640px) {
                font-size: 14px;
            }

            @media (max-width: 500px) {
                font-size: 12px;
            }
        }

        @media (max-width: 1280px) {
            background: transparent;
            color: white;
            border: 1px solid white;
        }

        @media (max-width: 860px) {
            font-size: 16px;
        }

        @media (max-width: 640px) {
            font-size: 14px;
        }

        @media (max-width: 500px) {
            font-size: 12px;
        }
    }

    &__textarea {
        resize: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        border: 1px solid black;
        border-radius: 5px;
        padding: 8px;

        &::placeholder {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
            @media (max-width: 1280px) {
                background: transparent;
                color: white;
            }

            @media (max-width: 860px) {
                font-size: 16px;
            }

            @media (max-width: 640px) {
                font-size: 14px;
            }

            @media (max-width: 500px) {
                font-size: 12px;
            }
        }

        @media (max-width: 1280px) {
            background: transparent;
            color: white;
            border: 1px solid white;
        }

        @media (max-width: 860px) {
            font-size: 16px;
        }

        @media (max-width: 640px) {
            font-size: 14px;
        }

        @media (max-width: 500px) {
            font-size: 12px;
        }
    }

    &__button {
        padding: 22px 44px;
        width: 100%;
        max-width: 337px;
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        box-shadow: 49px 100px 45px rgba(0, 0, 0, 0.01),
            27px 56px 38px rgba(0, 0, 0, 0.05),
            12px 25px 28px rgba(0, 0, 0, 0.09), 3px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 42px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 110%;

        text-align: center;
        text-transform: uppercase;
        color: #ffffff;

        @media (max-width: 640px) {
            padding: 15px 20px;
            max-width: max-content;
        }
    }
}

.footer {
    padding-top: 170px;

    &__block {
        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        border-radius: 20px 20px 0 0;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    @media (max-width: 640px) {
        padding-top: 100px;
    }

    &__figure {
        position: absolute;
        right: -1px;
        top: -345px;
        @media (max-width: 1400px) {
            top: -78%;
            width: 45%;
        }

        @media (max-width: 1180px) {
            top: -20%;
            width: 50%;
        }

        @media (max-width: 960px) {
            top: -1%;
            width: 36%;
        }

        @media (max-width: 680px) {
            top: 0;
            width: 36%;
        }
    }

    &__wrapper {
        padding: 65px 0;
    }

    &__wrapper,
    a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: normal;
        color: #ffffff;

        @media (max-width: 960px) {
            font-size: 18px;
        }

        @media (max-width: 640px) {
            font-size: 16px;
        }
    }

    address {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        margin-bottom: 15px;
    }

    &__phone,
    &__privacy {
        font-weight: 500 !important;
    }
}

.modal-consultation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    &__wrapper {
        padding: 30px 30px 40px 30px;
        background: #fff;
        border-radius: 10px;
        position: relative;
        max-width: 570px;
        width: 100%;

        @media (max-width: 680px) {
            padding-top: 60px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 25px;
        color: black;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;
    }

    &__input {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        font-weight: 400;
        font-size: 15px;
        line-height: 213%;
        color: #2b364c;
        width: 100%;
    }

    &__input::placeholder {
        font-weight: 400;
        font-size: 15px;
        line-height: 213%;
        color: #2b364c;
    }

    &__btn {
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #fff;
        border-radius: 100px;
        padding: 15px 30px;
        max-width: 350px;
        margin-top: 15px;

        background: linear-gradient(268.35deg, #d01324 0%, #f98a10 100%);
        box-shadow: 49px 100px 45px rgba(0, 0, 0, 0.01),
            27px 56px 38px rgba(0, 0, 0, 0.05),
            12px 25px 28px rgba(0, 0, 0, 0.09), 3px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 42px;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}
